#headercontainer{
    display:flex;
    gap: 1.7rem;
    align-items: baseline;
    box-sizing: border-box;

}
.id p{
    color: white;
}
.themesearchcontainer p, .themecartcontainer p{
    padding: 0 0 0 4px;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 3px;
    color: cyan;

}
.searchcontainer p, .cartcontainer p{
    padding: 0 0 0 4px;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 3px;

}
.navcontainer{
    display: flex;
    cursor: pointer;
    color: black;
}
.navcontainer p{color: black}
.iconnotif{
    position: relative;
}
.new{
    position: absolute;
    z-index: 1;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0 4px;
    right:-20%;
    top:-19.1%
}

#home{
    margin-top: 3px;
    margin-left: 8px;
}
#theme{
    color:cyan;
    margin-top: 3px;
    margin-left: 8px;
}
.theme, .themecartcontainer, .themelogout, .themesearchcontainer{
    color:cyan;
    display: flex;
    cursor: pointer;

}

.homecontainer,.helpcontainer, 
 .logoutcontainer, 
.searchcontainer, .cartcontainer{
    display: flex;
}
.themecartcontainer span{
    background-color: red;
    border-radius: 50%;
    padding: 3px;
    margin-top: 2px;
    color: white;
}
.cartcontainer span{
    background-color: rgb(11, 214, 214);
    border-radius: 50%;
    padding: 3px;
    margin-top: 2px;
    color: white;
}

.id .accountcontainer, .id .helpcontainer ,.id .logoutcontainer,
.id .homecontainer, .id .navcontainer, .id .searchcontainer, .id .cartcontainer{
    color: white;
    cursor: pointer;
   
}
.accountcontainer a, .helpcontainer a, .logoutcontainer a, .homecontainer a{
    text-decoration: none;
    cursor: pointer;
}
.accountcontainer p, .helpcontainer p, .logoutcontainer p, .homecontainer p{
    cursor: pointer;
}

.searchcontainer.searchcontainer-active, 
.searchcontainer.searchcontainer-active p, 
.cartcontainer.cartcontainer-active, 
.cartcontainer.cartcontainer-active p{
    color:  cyan;
    text-decoration: underline;
}
.active a, .active p{
    color: cyan;
}
.id .active a, .id .active p{
    color: cyan;
}
.id .active{
    color: cyan;
}
.id .active .navcontainer{
    color: cyan;
}
.active{
    color: cyan;
    text-decoration: underline;
}


/* @media (max-width:768px){
    #headercontainer{
        gap: 1rem;
        
    
    }
} */


/* @media (max-width:1535px){
    #one{
        display: none;
    }
} */
@media (max-width:943px){
    #one{
        display: none;
    }
}
@media (max-width:812px){
    #one, #three{
        display: none;
    }
}
@media (max-width:710px){
    #one, #three, #four{
        display: none;
    }
}
@media (max-width:574px){
    #headercontainer{
        display:flex;
        gap: 1rem;
        align-items: baseline;
        box-sizing: border-box;
    
    }
    #notifid{
        display: none;
    }
}
@media (max-width:510px){
    #notifid{
        display: none;
    }
}
/* @media (max-width:480px){
    #notifid{
        display: none;
    }
}  */
/* @media(min-width:1096px)and(max-width:1106px){
    .new{
        right: 23%;
    }
} */








          
 