.parent{
    margin-left: 6%;
    padding:11% 0;
    /* margin-bottom: ; */
}
.parent a{
    text-decoration: none;
}

.followers{
    padding: 2% 0;
}
.followersdark{
    padding: 2% 0;
}
.followersdark h2, .followers h2{
    color: cyan;
}
.followers p{
    color: black;
}
.followersdark p{
    color:white
}