.all-items{
    background-color: white;
    width: 30%;
    height:60%;
    border-radius: 10px;
}
.theme-dark{
    background-color: gainsboro;
    width: 30%;
    height:fit-content;
    border-radius: 10px;
    
}
.parent-hold{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-items{
    width: 100%;
    padding-bottom: 2rem;
 }

#cancel{
    color: black;
    font-weight: 500;
    font-size: large;
    border: none;
    outline: none;
    background: 0;
    padding: 0 0.4rem;
    cursor: pointer;
    float: right;
    margin-top: -0.3%;
    margin-bottom: 0;
}

#cancel:hover{
    background-color: red;
    padding:0 0.4rem ;
    color: white;
    border-radius: 3px;
}

.first input{
    width: 65%;
    margin-top: 2.5rem;
    margin-left: 4.2rem;
    padding-top: 0;
    /* margin-top: 0.6rem; */
    outline: none;
    background: 0;
    border: none; 
    /* height: 35px; */
    border-bottom: 1px solid black;
    
}


.search{
    /* padding: 0 auto; */
    outline: none;
    border: none;
    background-color: cyan;
    border-radius: 10px;
    /* color: white; */
    cursor: pointer;
    /* letter-spacing: 1px; */
    font-size: large;
    margin-bottom: 1rem;
    margin-left: 0;
   padding: 10px 15px;
}
.loadingdiv{
    position: absolute;
}
.search-results{
    margin-top: 8%;
}
.noting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.search:hover{
    opacity: 0.5;
}
.send-button{
    display: flex;
    justify-content: center;
    align-items:  center;
}
.container{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.pics{
    height: 50px;
    width: 50px;
    margin-left: 1.7rem;
    margin-bottom: 15px;
}
.pics img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

@media (max-width:1120px){
    .all-items{
        background-color: white;
        width: 50%;
        height: fit-content;
        border-radius: 10px;
    }
    .theme-dark{
        background-color: gainsboro;
        width: 50%;
        height: fit-content;
        border-radius: 10px;
    }
    /* .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 39%;
        left: 41%;
    } */
}

@media (max-width:810px){
    .all-items{
        background-color: white;
        width: 80%;
        height: fit-content;
        border-radius: 10px;
    }
    .theme-dark{
        background-color: gainsboro;
        width: 80%;
        height: fit-content;
        border-radius: 10px;
    }
    /* .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 39%;
        left: 41%;
    } */
}

/* @media (max-width:910px){
    .all-items{
        background-color: white;
        width: 45%;
        height: 72%;
        border-radius: 10px;
    }
    .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 39%;
        left: 42.5%;
    }
} */
