.parent{
    height: 100vh;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    gap: 1rem;
}
.pics{
    height: 50px;
    width: 50px;
    margin-left: 1.7rem;
    margin-bottom: 15px;
}
.pics img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}