.parent{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 35%;
    height:250px;
    border-radius: 10px;
    text-align: center;
}
.container{
    margin-top: 10%;

} 
.parent h2{
    float: right;
    margin-top: 21%;
    background-color: cyan;
    padding: 4px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.theme-dark{
    background-color:rgb(249, 249, 249, 0.7);
    width: 25%;
    height: 58%;
    border-radius: 10px;
}
#reset-password-message-success{
    color: gray;
}
#reset-password-message-error{
    color: red;
}
