
.background-dark{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.background{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.login-container{
    margin: 2rem 0px;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}
.login h1{
    color: cyan;
    margin-top: 4%;

}

.login-container .box input{
    width: 300px;
    margin-top: 2rem ;
    padding-top: 2rem;
    border: none;
    background: 0;
    outline: none;
    border-bottom: 1px solid black;
}
.login-container-dark .box input{
    width: 300px;
    margin-top: 2rem ;
    padding-top: 2rem;
    border: none;
    background: 0;
    outline: none;
    color: white;
    border-bottom: 1px solid cyan;
}
.login-text-dark p{
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.login-text p{
    color: black;
    text-align: center;
}
.login-text{
    margin-top: 2rem;
}
.login-text span{
    padding-left: 5px;
    
}
#forgotpassword{
    margin-top: 4rem;
}
.login-text span, a{
    cursor: pointer;
    text-decoration: none;
    color:rgb(25, 182, 182);
}
#login-button-disabled{
    margin-top: 2rem;
    padding: 0.6rem 5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
}
.login-button{
    display: flex; 
    justify-content: center;
}
#login-button{
    margin-top: 3rem;
    padding: 0.6rem 5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: cyan;
    color: white;
    cursor: pointer;
    margin-left: 0;
}
#login-button:hover{
    opacity: 0.5;
}
